body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifwd;
}

.body-color {
    background-image: url(../Pre-entrega2/images/main.jpg);
}

.body-img {
    background-image: url(../Pre-entrega2/images/main.jpg);
}
.navbar {
    background-image: url(../Pre-entrega2/images/navbar.jpg);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: flex-end;
}

.navbar li a {
    color: #ffffff;
}

#main-logo {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0 20px;
    text-decoration: none;
}

.colored {
    color: red;
}

#bgvideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#partners {
    background: #1a1819 url(../images/main.jpg);
    background-size: cover;
    padding: 15px 0;
    position: relative;
    text-align: center; }

.row > * {
       flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.brand-item {
    align-items: center;
    display: flex;
    height: 82px;
    justify-content: center;
    text-align: center;

    color: #fbf292 !important;
}


:root {
    --color-1st: #7f520b !important;
    --color-2st: #fbf292 !important;
} 

.my-auto {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.separator-top {
    border-top: 3px solid var(--color-1st);
    width: 100%;
}

.mb-1 {
    margin-bottom: 0.25rem!important;
}

h1, h2, h3, h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}



/* Aca termina el index y empieza imagenes*/


.container-img {
    border: 1px solid red;
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    height: 195px;
}

.images {
        padding: 4px;
        margin: 10px;
        display: flex;

    
}



@media (min-width: 320px) { 

    .navbar {
        width: 43vh;
    }

    .images {
        padding: 4px;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .container-img {
        border: 1px solid #ff0000;
        padding: 3px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .galeria {
        width: 100%;
    }

    #bgvideo {
        width: 43vh;
    }
    
    #partners {
        width: 43vh;
    }
}





@media (min-width: 768px) { 
    .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .navbar {
        width: 110%;
        height: auto;
    }

    #bgvideo {
        width: 110%;
        height: auto;
    }
    
    #partners {
        width: 110%;
        height: auto;
    }


}


@media (min-width: 1440px) { 

    .navbar {
        width: 100%;
    }

    #bgvideo {
        width: 100%;
    }
    
    #partners {
        width: 100%;
    }
